.App {
  width: 1000px;
  text-align: center;
  background-color: #e7ecf2;
  overflow: auto;
}

.button-wrap {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #010101;
}
.button {
  margin-top: 10px;
  width: 60px;
  height: 40px;
}
